# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries
- How to create an table in jupiter notebook
- Basic arithmetic operations

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Panda
3. Numpy
4. Scikit

|Data Science Tools|
|----------|
|Jupiter Notebook|
|R studio|
VS code

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
##This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

##Author
Sudhanshu Jamwal